<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bingblue.TaobaoTools.mapper.ManyOrderBillMapper" >
  <resultMap id="BaseResultMap" type="com.bingblue.TaobaoTools.pojo.ManyOrderBill" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="shortLink" property="shortlink" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, shortLink, createDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_manyorderbill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_manyorderbill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bingblue.TaobaoTools.pojo.ManyOrderBill" >
    insert into t_manyorderbill (id, userId, shortLink, 
      createDate)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{shortlink,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bingblue.TaobaoTools.pojo.ManyOrderBill" >
    insert into t_manyorderbill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="shortlink != null" >
        shortLink,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="shortlink != null" >
        #{shortlink,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bingblue.TaobaoTools.pojo.ManyOrderBill" >
    update t_manyorderbill
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="shortlink != null" >
        shortLink = #{shortlink,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bingblue.TaobaoTools.pojo.ManyOrderBill" >
    update t_manyorderbill
    set userId = #{userid,jdbcType=INTEGER},
      shortLink = #{shortlink,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>